.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: grid;
  
  justify-content: center;
  
  gap: 6px;
  width: 80%;
  padding: 20PX;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}
.form-div{
  display: grid;
  
  justify-self: center;
 
  width: max-content;
  padding: 10PX;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}
.radio-group{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: fit-content;
  gap: 10px;
}
.date-group{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 10px;
}


.radio-group input[type=radio]:checked + label{
  font-weight: bold;
}

.radio-group input[type=radio] + label{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;

}
